<app-header />
<div class="p-10 bg-white dark:bg-[#252d37] dark:text-white">
  <div class="flex flex-col space-y-4">
    <div class="overflow-hidden relative rounded-md">
      @if (productData.productInStock === 0) {
        <span class="ribbon">OUT OF STOCK</span>
      } @else if (productData.productInStock <= 5) {
        <span class="yellow-ribbon text-black font-bold">FEW REMAINING</span>
      }
      <img
        alt="Product gallery 1"
        [src]="productData.productImage"
        class="w-full object-cover"
        style="height: 700px"
      />
    </div>
    <div class="w-full flex flex-row justify-between">
      <div class="flex flex-col">
        <h2 class="text-lg font-semibold">{{ productData.productName }}</h2>
        <p class="text-lg font-semibold m-0">₹{{ productData.productPrice }}</p>
      </div>
      <div>
        
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <button
        *ngIf="productData.productInStock === 0"
        type="button"
        class="select-none rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-gray-300 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-gray-400 dark:text-gray-800"
        [disabled]="true"
      >
        OUT OF STOCK
      </button>

      <ng-container *ngIf="productData.productInStock > 0">
        <button
          *ngIf="!isInCart(productData._id)"
          type="button"
          class="select-none rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-white dark:text-black dark:hover:bg-white/80 dark:focus-visible:outline-white"
          (click)="addToCart(productData)"
        >
          Add To Cart
        </button>
        <button
          *ngIf="isInCart(productData._id)"
          type="button"
          class="select-none rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-white dark:text-black dark:hover:bg-white/80 dark:focus-visible:outline-white"
          (click)="removeFromCart(productData)"
        >
          Remove From Cart
        </button>
      </ng-container>
    </div>
    <div class="h-25">
      <h3 class="text-sm font-semibold">Product Details:</h3>
      <p class="text-sm">{{ productData.productDescription }}</p>
      <h3 class="text-sm mt-5 font-semibold">
        Product In Stock : {{ productData.productInStock }}
      </h3>
    </div>
  </div>
</div>
<app-footer />
