<div
  class="p-4 relative rounded-lg border-gray-500 hover:border-black border-2 hover:shadow-gray-600 bg-gray-300 hover:border-3 dark:bg-gray-900 dark:text-white dark:hover:shadow-gray-400 dark:hover:border-white dark:hover:border-3"
>
  @if (productData.productInStock === 0) {
    <span class="ribbon">OUT OF STOCK</span>
  } @else if (productData.productInStock <= 5) {
    <span class="yellow-ribbon text-black font-bold">FEW REMAINING</span>
  }

  <div class="flex flex-col space-y-4">
    <div class="overflow-hidden rounded-md">
      <a [routerLink]="['/product', productData._id]">
        <img
          alt="Product gallery 1"
          [src]="productData.productImage"
          class="w-full h-48 object-cover"
        />
      </a>
    </div>
    <div class="w-full flex flex-row justify-between">
      <div class="text-lg font-semibold">{{ productData.productName }}</div>
      <div class="text-lg font-semibold">₹ {{ productData.productPrice }}</div>
    </div>
    <div class="flex flex-col space-y-2">
      <button
        *ngIf="productData.productInStock === 0"
        type="button"
        class="select-none rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-gray-300 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-gray-400 dark:text-gray-800"
        [disabled]="true"
      >
        OUT OF STOCK
      </button>

      <ng-container *ngIf="productData.productInStock > 0">
        <button
          *ngIf="!isInCart(productData._id)"
          type="button"
          class="select-none rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-white dark:text-black dark:hover:bg-white/80 dark:focus-visible:outline-white"
          (click)="addToCart(productData)"
        >
          Add To Cart
        </button>
        <button
          *ngIf="isInCart(productData._id)"
          type="button"
          class="select-none rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-white dark:text-black dark:hover:bg-white/80 dark:focus-visible:outline-white"
          (click)="removeFromCart(productData)"
        >
          Remove From Cart
        </button>
      </ng-container>
    </div>
    <div>
      <h3 class="text-sm font-semibold">Product Details:</h3>
      <p class="text-sm">
        {{ productData.productDescription }}
      </p>
    </div>
  </div>
</div>
