@tailwind base;
@tailwind components;
@tailwind utilities;


.errorMsg {
    color: red;
}
.dark-errorMsg{
    color: rgb(255, 153, 153);
}

.mytoast {
    margin-top: 80px;
    color: white;
    background-color: black;
    padding: 20px 50px;
    width: 10%;
}
