<app-header />
<form
  (ngSubmit)="placeOrder()"
  class="bg-gray-700 text-white"
  [formGroup]="addressForm"
>
  <div
    class="grid gap-3 sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32 py-10 bg-gray-700 text-white"
  >
    <div class="px-4 pt-8">
      <p class="text-black dark:text-white text-xl font-medium">
        Order Summary
      </p>
      <p class="text-gray-400 dark:text-gray-300">
        Check your items. And select a suitable shipping method.
      </p>
      <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
        <ul role="list">
          <li *ngFor="let product of cartItems; let i = index">
            <app-order-item [productData]="product"></app-order-item>
          </li>
        </ul>
      </div>

      <p class="mt-8 text-lg font-medium">Payment Methods</p>

      <div class="relative my-5">
        <input
          class="peer hidden"
          id="cheque"
          type="radio"
          formControlName="paymentMode"
          value="CHEQUE"
        />
        <span
          class="peer-checked:border-gray-700 dark:peer-checked:border-gray-200 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 dark:border-gray-600"
        ></span>
        <label
          class="peer-checked:border-2 peer-checked:border-gray-700 dark:peer-checked:border-gray-200 peer-checked:bg-gray-50 dark:peer-checked:bg-gray-700 flex cursor-pointer select-none rounded-lg border border-gray-300 dark:border-gray-600 p-4"
          for="cheque"
        >
          <img
            src="/assests/payment-cheque-method.png"
            style="filter: invert(1)"
            width="25px"
          />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Pay By Cheque On Delivery</span>
          </div>
        </label>
      </div>

      <div class="relative my-5">
        <input
          class="peer hidden"
          id="cash"
          type="radio"
          formControlName="paymentMode"
          value="CASH"
        />
        <span
          class="peer-checked:border-gray-700 dark:peer-checked:border-gray-200 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 dark:border-gray-600"
        ></span>
        <label
          class="peer-checked:border-2 peer-checked:border-gray-700 dark:peer-checked:border-gray-200 peer-checked:bg-gray-50 dark:peer-checked:bg-gray-700 flex cursor-pointer select-none rounded-lg border border-gray-300 dark:border-gray-600 p-4"
          for="cash"
        >
          <img
            src="/assests/payment-cash-method.png"
            style="filter: invert(1)"
            width="25px"
          />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Pay By Cash On Delivery</span>
          </div>
        </label>
      </div>
    </div>
    <div
      class="mt-10 bg-gray-50 dark:bg-gray-700 rounded-xl shadow-lg shadow-gray-900 px-4 pt-8 lg:mt-0"
    >
      <p class="text-xl font-medium">Payment Details</p>
      <p class="text-gray-400 dark:text-gray-300">
        Complete your order by providing your details.
      </p>
      <div>
        <label
          for="billing-address"
          class="mt-4 mb-2 block text-md font-medium"
        >
          Billing Address <span class="text-red-700">*</span>
        </label>
        <textarea
          id="address"
          rows="3"
          class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Add Your Address Here"
          formControlName="address"
        ></textarea>
        @if (
          useraddressFormControls().address.invalid &&
          (useraddressFormControls().address.dirty ||
            useraddressFormControls().address.touched ||
            submitted)
        ) {
          <div>
            @if (useraddressFormControls().address.errors?.["required"]) {
              <small class="errorMsg">Address is Required.</small>
            }
          </div>
        }
        <div class="mt-6 border-t border-b py-2">
          <div class="flex items-center justify-between">
            <p class="text-md font-medium text-gray-900 dark:text-white">
              Subtotal
            </p>
            <p class="font-semibold text-gray-900 dark:text-white">
              ₹ {{ totalBill }}
            </p>
          </div>
          <div class="flex items-center justify-between">
            <p class="text-md font-medium text-gray-900 dark:text-white">
              Shipping
            </p>
            <p class="font-semibold text-gray-900 dark:text-white">₹ 1000</p>
          </div>
        </div>
        <div class="mt-6 flex items-center justify-between">
          <p class="text-xl font-semibold text-gray-900 dark:text-white">
            Total
          </p>
          <p class="text-xl font-semibold text-gray-900 dark:text-white">
            ₹ {{ totalBill + 1000 }}
          </p>
        </div>
      </div>
      <div class="text-center">
        <button
          class="mt-4 mb-8 w-3/4 rounded-md bg-black dark:bg-white dark:text-black px-6 py-3 font-extrabold text-white hover:bg-gray-700 dark:hover:bg-gray-200"
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
</form>
<app-footer />
